graph {
	fill-color: black;
}

/*
NODE
*/
node {
	text-style: bold;
	text-color: rgba(254, 254, 226, 255);
	text-alignment: at-right;
	text-padding: 3px, 2px;
	text-background-mode: rounded-box;
	text-background-color: #303F9F;

	fill-color: #303F9F;

	text-visibility-mode: under-zoom;
	text-visibility: 1.1;

	shape: box;
	/* size-mode: fit; */

}

node:selected {
	text-size: 20%;
	stroke-mode: plain;
	stroke-width: 2px;
	stroke-color: #CCF;
	shadow-mode: gradient-radial;
	shadow-width: 10px;
	shadow-color: #EEF, #000;
	shadow-offset: 0px;
}

node.isStopWord {
    text-color: #f44336;
}

node.nodeEnds {
	fill-color: #d32f2f;
	text-background-color: #d32f2f;
}

node.compoundWords {
	fill-color: #7B1FA2;
	text-background-color: #7B1FA2;
}

node.tagTT {
	fill-color: #AD1457;
	text-background-color: #AD1457;
}

node.tagJDM {
	fill-color: #AD1457;
	text-background-color: #AD1457;
}

node.tagJDMSimple {
	fill-color: #AD1457;
	text-background-color: #AD1457;
}


node:clicked {
	/* fill-color: rgba(0, 142, 142, 255); */
	/* text-background-color: rgba(0, 142, 142, 255); */
	stroke-mode: plain;
	stroke-width: 2px;
	stroke-color: #CCF;
	shadow-mode: gradient-radial;
	shadow-width: 10px;
	shadow-color: #EEF, #000;
	shadow-offset: 0px;
}

node.superRaffsem{
	fill-color: #00838F;
	text-background-color: #00838F;
}

node.superRaffmorpho{
	fill-color: #00695C;
	text-background-color: #00695C;
}

/*
 EDGE
 */
edge.r_succ {
	fill-color: rgba(241, 140, 142, 255);
	text-color: rgba(241, 140, 142, 255);
	text-size: 15%;
}

edge {
	text-size: 10%;
	size: 3px;
	arrow-size: 10.0;
	text-background-mode: plain;
	text-alignment: along;
	text-background-color: rgba(25, 0, 0, 0);
	fill-color: rgba(255, 255, 255, 255);
	text-color: rgba(255, 255, 255, 255);
}

edge.r_mc {
	fill-color: #673AB7;
	text-background-color: #673AB7;
}

edge.r_tag {
	fill-color: #AD1457;
	text-background-color: #AD1457;
}

edge.tagPositif {
	fill-color: #4CAF50;
	text-background-color: #4CAF50;
}

edge.tagNegatif {
	fill-color: #EE1010;
	text-background-color: #4CAF50;
}

edge.r_raff_sem{
	fill-color: #00838F;
	text-background-color: #00838F;
}

edge.r_raff_morpho{
	fill-color: #00695C;
	text-background-color: #00695C;
}

edge.r_gov{
	fill-color: #F9A825;
	text-background-color: #F9A825;
}